{{ form_start(form, {"attr": {"novalidate": "novalidate"}}) }}

<div class="form-group">
    {{ form_label(form.nome) }}
    {{ form_widget(form.nome) }}
    {{ form_errors(form.nome) }}
</div>

<div class="form-group">
    {{ form_label(form.preco) }}
    {{ form_widget(form.preco) }}
    {{ form_errors(form.preco) }}
</div>

<div class="form-group">
    {{ form_label(form.descricao) }}
    {{ form_widget(form.descricao) }}
    {{ form_errors(form.descricao) }}
</div>

{{ form_widget(form.enviar) }}